.env
repos.json
jq
jq.exe
local/*
!local/_.txt
screen_manager/screen_configs.json

# Node
node/fetcher.json
node/fetchers/*
node/csvoutput/
!node/fetchers/example.js
# Apps
apps/lazygit/bin/*
!apps/lazygit/bin/_.txt